*.py[oc]

# Temp files
*~
~*
.*~
\#*
.#*
*#
dist

# Build files
build
dist
pkg
*.egg
*.egg-info

# Debian Files
debian/files
debian/python-command-notifier
debian/*.log
debian/*.substvars

# Sphinx build
doc/_build

# Generated man page
doc/command_notifier.1
